.videoPlayer {
  position: relative;
  max-width: 850px;

  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }

  video {
    width: 100%;
    max-width: 100%;
  }

  .videoPlayer__controls {
    position: absolute;
    bottom: 3px;
    opacity: 0;
    transition: opacity 0.1s linear;
    color: white;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 9;
    font-size: 16px;

    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;

      span:first-child {
        margin-right: 10px;
      }
    }

    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }

    .videoPlayer__column:last-child {
      justify-self: end;
    }

    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}